/* v RESET CSS v */
:root {
  --cor-blue-dark: #03318c;
  --cor-purple-light: #5d04d9;
  --cor-purple: #9303a6;
  --cor-pink: #c004d9;
  --cor-pink-dark: #8c0375;

  --cor-de-fundo: #f5f5f5;
  --cor-de-texto: #464646;
}

body {
  box-sizing: border-box;
  background-color: var(--cor-de-fundo);
  font-family: "VT323", monospace;
  margin: 0;
  padding: 0;
  line-height: 1;
  height: 100vh;
}
ol,
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: var(--cor-de-fundo);
}

button {
  all: unset;
  border: 2px solid var(--cor-de-botao-primario);
}

.btn__primario {
  background-color: var(--cor-de-botao-primario);
  color: white;
}

.btn__primario:hover {
  background-color: var(--cor-de-botao-primario-hover);
  border-color: var(--cor-de-botao-primario-hover);
}

.btn__secundario {
  background-color: var(--cor-de-fundo);
  color: var(--cor-de-botao-primario);
}

.btn__secundario:hover {
  background-color: var(--cor-de-botao-secundario-hover);
}
/* ^ RESET CSS ^ */

/* v HEADER v */
.menu {
  background-color: var(--cor-purple-light);
}
header a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

header h3 {
  font-size: 2rem;
  text-align: center;
  padding-left: 0.5rem;
  color: var(--cor-de-fundo);
}
header h3 span {
  color: var(--cor-pink);
}
.logo {
  width: 50px;
}
/* ^ HEADER ^ */

/* v MAIN v */
.main main {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

/* MAIN PRODUCTS */
main .main-products-title {
  text-align: center;
}

main .main-products {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

main .main-products-title {
  width: 100%;
}

main .product {
  background-color: var(--cor-purple-light);
  border: 5px solid black;
  border-radius: 15px;
  height: 250px;
  width: 150px;
  color: var(--cor-de-fundo);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

main .product-container-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem 0 0 0;
}

main .product-img {
  width: 85%;
  object-fit: contain;
  border: 5px solid black;
  border-radius: 15px;
}
main .product-container-info {
  width: 100%;
}

main .product-container-info h4 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 45ch;
}

main .product-container-info p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.8rem;
}

main .product h4 {
  margin: 5%;
}

/* MAIN ADD */
main .main-add {
  text-align: center;
}
main .main-add form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

main .main-add form input {
  border: 3px solid var(--cor-blue-dark);
  border-radius: 10px;
  padding: 0.5rem;
}

main .main-add form input::placeholder {
  font-family: "VT323", monospace;
  font-size: 1.2rem;
  color: var(--cor-blue-dark);
}

main .main-add form button {
  color: var(--cor-de-fundo);
  border: 3px solid var(--cor-blue-dark);
  border-radius: 10px;
  padding: 0.5rem;
  background-color: var(--cor-blue-dark);
}

main .main-add form button:hover {
  color: var(--cor-blue-dark);
  background-color: var(--cor-de-fundo);
  cursor: pointer;
}
/* ^ MAIN ^ */

/* v FOOTER v */
.footer {
  position: sticky;
  bottom: 0;
}

footer {
  background-color: var(--cor-purple-light);
  color: var(--cor-de-fundo);
  text-align: center;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

footer .footer-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

footer h3 {
  font-size: 2rem;
  text-align: center;
  padding-left: 0.5rem;
  color: var(--cor-de-fundo);
  margin: 0;
}

footer h3 span {
  color: var(--cor-pink);
}
/* ^ FOOTER ^ */

/* v MEDIA QUERIES v */
@media (min-width: 768px) {
  .main main {
    flex-direction: row;
    align-items: flex-start;
    margin: 1vh 10vh;
    max-width: 1000px;
    justify-content: center;
  }

  .main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
}
